<div>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-ms-9">
          {{#link-to 'movies'}}<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home{{/link-to}}
          <h1>Search</h1>
        </div>
      </div>
     </div>
  </header>
  <div class="container container-main">
    <div class="row">
      <div class="col-md-12 col-ms-12 pg-module">
        <div class="row">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label>Movie Name</label>
              {{input type="text" class="form-control" value=query placeholder="Enter name"}}
              <button type="button" class="btn btn-info" {{action 'search'}}>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
              </button>
            </div>
          </form>
        </div>
        <div class="row">
          <table class="table table-striped">
            <thead>
                <tr>
                  <th>Title</th>
                  <th>Poster</th>
                </tr>
            </thead>
            <tbody>
              {{#each movie in movies}}
                <tr {{action 'getInfo' movie}}>
                  <td>{{ movie.title }}</td>
                  <td><img {{bind-attr src='movie.posterUrl' }}/></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{partial "movies/info-modal"}}